.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.use-svg {
    display: none;
}

input, .btn {
    padding: 0.5rem;
    border: 1px solid $black !important;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    padding: 1rem;
    &:active {
        background-color: $black;
        color: $white;
    }
}

.mask {
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 30vh;
    border-radius: 10px;
    margin: 2rem 0;
    .img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100% ;
    }
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 100%;

    #imgInput {
        font-size: $size-text;
        margin-top: 0.5rem;
    }

    &-feild {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: inherit;
        }
    }
}

.color-list {
    display: flex;
    justify-self: center;
    
    margin-top: 2rem;
    
    & .color {        
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 1000px;
        
        margin-right: 1rem;
        &:last-child {
            margin-right: inherit;
        }
    }
}


// source: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: auto; /* Specific width is required for Firefox. */
    background: $white; /* Otherwise white in Chrome */
    height: 1px;
}

@media(min-width: 550px) {
    .btn:hover {
        background-color: $black;
        color: $white;
    }

    .color-list {
        & .color {
            width: 80px;
            height: 80px;
        }
    }

    .form {
        max-width: 500px;
    }
}